.card {
    margin: 0 auto;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 280px;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }


/* popup */

#parentpopup {
  background-color: chartreuse;
  position: absolute;

  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  width: 100px;
  height: 200px;

  margin: auto;
  display: table;
}
.childpopup {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.closepopup {
  background-color: red;
  position: absolute;
  right: 0px;
}
  